* {
    overflow-y: hidden;
}

.body {
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: rgb(58, 161, 209);
}

.cadastro {
    height: 800px;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo"
                         "input-nome"
                         "input-email"
                         "input-senha"
                         "input-confirma"
                         "sala"
                         "input-submit";
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    background-color: rgb(241, 240, 240);
}

.input-nome {
    grid-area: input-nome;
}

.input-email {
    grid-area: input-email;
}
.input-senha {
    grid-area: input-senha;
}

.input-confirma-senha {
    grid-area: input-confirma;
}

.sala{
    grid-area: sala;
}

label {
    display:flex; 
    justify-content: center;
    margin-bottom: 5px;
}